/* CSS Document */

body {
  scrollbar-face-color:005577;
  scrollbar-highlight-color:A2A2A2;
  scrollbar-shadow-color:ffffff;  	    
}

table {
	font-family: Verdana;
	font-size: 8pt;
}

.global {
	font-famlily: Book Antigua;
	font-size: 18pt;
	font-weight: bold;
	color: #005577;
}
.knowledge {
	font-famlily: Book Antigua;
	font-size: 18pt;
	font-weight: bold;
	color: #A2A2A2;
}

.hometext {
	color: #777777;
}

.subhometext {
	color: #777777;
	line-height:16pt;
}

.program {
	color:#005577;
	font-weight:bold;
}

.credits {
	font-size: 6.5pt;
	color: #585858;
}

.ruta {
	font-size: 7.2pt;
	color: #585858;
}

.list{
	list-style-image:url("../images/list.gif");
	margin-left:-20px;
	margin-top:6px;	
}

.sublist{
	list-style-image:url("../images/sublist.gif");
	margin-left:-5px;
	margin-top:6px;	
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	color: #A2A2A2;
	font-weight: bold;
}

a {	
	color: #005577;
	text-decoration: none;
}

a:hover {	
	color: A2A2A2;
	text-decoration:none;			
}

a:visited {	
	text-decoration:none;		
}

.menup {
	color: #000000;
}
a.menup:hover{
	color:#A2A2A2;
}

a.menu {
	color: #A2A2A2;
}

a.menu:hover{
	color:white
}

.line {
	line-height:12pt;
}
.listcolor {
	color: #777777;
}

.ranking {
	font-size:6.5pt;
}
